# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\V\PWIR\traffic_lights\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
